.description {
	padding: 1rem;
	opacity: 0.8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.main {
	padding: 1rem;
}
.main,
.description {
	margin: 0 auto;
	max-width: 1280px;
}
.list {
	display: flex;
	flex-wrap: wrap;
}
.announce {
	padding: 1rem;
	flex-basis: 33.3333%;
}
@media (max-width: 960px) {
	.announce {
		flex-basis: 50%;
	}
}
@media (max-width: 600px) {
	.announce {
		flex-basis: 100%;
	}
}
.announce img {
	max-width: 100%;
}
.announce a {
	text-decoration: none;
}
.announce header {
	padding: 1rem 0;
	font-weight: bolder;
	font-size: 1.25rem;
}
.announce article {
	text-align: justify;
	opacity: 0.8;
}
.announce div:last-child {
	margin-top: 1rem;
	text-align: right;
}
.pagination {
	margin: 2rem 1rem;
	font-size: 2rem;
	text-align: center;
}
.pagination a {
	color: #000;
	text-decoration: none;
}
.pagination span:nth-child(2) {
	margin-left: 1rem;
}
.category {
	margin: 2rem;
	text-align: right;
}
.category a {
	text-decoration: none;
}
