.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
.pagination > span:nth-child(2) {
	margin-left: 1rem;
}
.pagination a {
	text-decoration: none;
	font-size: 2rem;
	color: #000;
}
